<!DOCTYPE html>
<html lang="en" class="no-js">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="x-ua-compatible" content="ie=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <% jsFiles.forEach(function(file) { %>
            <link rel="preload" href="/static/js/<%- file -%>" as="script">
        <% }); %>
        <link rel="preload" href="<%- heroImage -%>" as="image">
        <link rel="preload" href="/static/images/hero-instagram-photo-1.png" as="image">
        <link rel="preload" href="/static/images/hero-instagram-photo-2.png" as="image">
        <link rel="preload" href="/static/images/hero-instagram-photo-3.png" as="image">
        <title><%- meta.title -%></title>
        <link rel="shortcut icon" href="">
        <link rel="icon" href="/static/images/favicon.ico">
        <link rel="canonical" href="<%- meta.url -%>">
        <meta name="description" content="<%- meta.description -%>">
        <meta property="og:url" content="<%- meta.url -%>">
        <meta property="og:title" content="<%- meta.title -%>">
        <meta property="og:description" content="<%- meta.description -%>">
        <meta property="og:image" content="<%- meta.image -%>">
        <meta name="twitter:card" content="summary_large_image">
        <meta name="twitter:creator" content="<%- meta.twitterHandle -%>">
        <meta name="twitter:title" content="<%- meta.title -%>">
        <meta name="twitter:description" content="<%- meta.description -%>">
        <meta name="twitter:image" content="<%- meta.image -%>">
        <script crossOrigin="anonymous" src="https://polyfill.io/v3/polyfill.min.js?flags=gated&features=default%2CIntersectionObserverEntry%2CArray.prototype.includes%2CString.prototype.includes%2Cfetch%2CIntersectionObserver%2CHTMLPictureElement"></script>
    </head>
    <body>
        <div id="app"><%- appHTML %></div>
        <script>var content=<%- content -%>;</script>
        <% jsFiles.forEach(function(file) { %>
            <script src="/static/js/<%- file -%>"></script>
        <% }); %>
    </body>
</html>
